/* Reset default margin and padding for the entire document */
* {
  margin: 0;
  padding: 0;
}
html{
  height: 100vh;
  width:100wh;
}
/* Define background color for the entire page */
body {
  background-color: #c9e9e1;
  width:100%;
  height:100%;
  align-items: center;
}

/* Style the page container */
.page2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding:10px;
  width:100%;
  height:100%;
  
}

/* Style the header */
.header {
  display: flex;
  width:100%;
  height:10%;
  align-items: center;
  padding: 10px;
  color: black;
  font-size: 1.5vw;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  text-align: left;
   
}

/* Style the main content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height:auto;
  padding: 10px;
}


/* Style the subheading */
.text1 {
  font-size: 4vw; 
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  margin:0px;
  
}

/* Style the secondary subheading */
.text2 {
  font-size: 4vw; 
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin:0px;
 
}

/* Style the paragraph */
.text3 {
  font-size: 1.6vw; 
  margin:0px;
   
}

.busdiv{
  display:flex;
  flex-direction: column;
  width:100%;
  height:auto;
  align-items: center;
}
/* Style the bus image */
.bus-image {
  max-width: 90%;
  padding-right: 3vh; 
  margin:0px;
  object-fit: cover;
}
/* Style the scan button */
.scan-button {
  margin:0px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3vw;
  padding: 2vh 4vw; 
  font-size: 2vw; 

  cursor: pointer;
  transition: background-color 0.3s; 
}

/* Change button background color on hover */
.scan-button:hover {
  background-color: #333; 
}
.profile{
  
  cursor: pointer;
  height: 6vh;
}
.profile:hover{
  opacity: 0.8;
}


@media screen and (max-width: 425px) {
  /* Styles for screens with a maximum width of 425 pixels (typical for mobile devices) */
  .text1 {
    font-size: 2rem; 
    
  }

  .text2 {
    font-size: 2rem; 
    
  }

  .text3 {
    font-size: 1rem; 
   
  }

  .bus-image {
    
    padding-right: 0vh;
   
  }

  /* Adjust button size and font size for mobile */
  .scan-button {
   
    padding: 1rem 2rem; 
    font-size: 1.25rem; 
  }
  .page2{
    padding: 0%;
  }
  .header {

    
    font-size: 5vw; 
   
    
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  .profile{
    height: 5.5vh;
  }
}



